@charset 'UTF-8';

* {
    box-sizing: border-box;
    margin: 0;
}

.exchange-box {
    border: 1px solid  #000;
    width: 400px;
}

.dropbtn {
    width: 100%;
    min-width: 160px;
    background-color: #1f464a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #396a6f;
  }

  .input-area {
      width: 100%;
  }

  .input-area input {
      width: 100%;
  }
