@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato','Noto Sans KR', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    position: absolute;
    top: -9999px;
    opacity: 0;
}

header {
    width: 100%;
    position: fixed;
    .inner {
        display: flex;
        width: 1180px;
        padding: 20px;
        margin: 0 auto;
        position: relative;
        h1 {
            position: absolute;
            top: -15px;
            left: -10px;
            a {
                img {
                    width: 160px;
                    height: 160px;
                    object-fit: contain;
                }
            }
        }
        .gnb {
            width: 100%;
            position: absolute;
            top: 50px;
            left: 140px;

            .mainMenu {
                display: flex;

                li {
                    margin-right: 40px;
                    
                    a {
                        display: block;
                        padding: 4px;
                        margin-bottom: 8px;
                    }
                }
                .subMenu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    padding: 0;
                    transition: 0.5s;

                    li {
                       a {
                           display: block;
                           padding: 4px;

                       } 
                    }
                }
            }
        }
        .util {
            position: absolute;
            top: 50px;
            right: 0;
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                    a {
                        padding: 4px;
                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

figure {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .inner {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
